[submodule "Google-Hash-Code-2020"]
	path = Google-Hash-Code-2020
	url = https://github.com/shivam1196/Hash-Code-2020.git
[submodule "Programming"]
	path = Programming
	url = https://github.com/shivam1196/Programming.git
[submodule "Programming-Concepts"]
	path = Programming-Concepts
	url = https://github.com/shivam1196/Programming-Concepts.git
[submodule "DSA-Worksheet"]
	path = DSA-Worksheet
	url = https://github.com/shivam1196/DSA-Worksheet.git
[submodule "Autocomplete-Text"]
	path = Autocomplete-Text
	url = https://github.com/shivam1196/Autocomplete-Text.git
[submodule "Dutch-National-Flag-Problem"]
	path = Dutch-National-Flag-Problem
	url = https://github.com/shivam1196/Dutch-National-Flag-Problem.git
[submodule "Rearrange-Array-Elements"]
	path = Rearrange-Array-Elements
	url = https://github.com/shivam1196/Rearrange-Array-Elements.git
[submodule "Search-In-Rotated-Array"]
	path = Search-In-Rotated-Array
	url = https://github.com/shivam1196/Search-In-Rotated-Array.git
[submodule "Square-Root"]
	path = Square-Root
	url = https://github.com/shivam1196/Square-Root.git
